@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
	background: #000000;
	color: white;
	margin: 0;
	font-size: 16px;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #FBC304;
	text-decoration: none;
}

#lang {
	/* width: 40px;
	position: absolute;
	left: 90vw;
	z-index: 3; */
}

#top-left-logo {
	position: absolute;
	width: 250px;
	height: auto;
	left: 0px;
	top: -30px;
	z-index: 3;
}

#sec-1 {
	margin: auto;
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, transparent, #000000 99%), url("../images/matt-palmer-kmilKN4Stsg-unsplash.jpg") center no-repeat;
	line-height: 55px;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sec-1 h1 {
	font-size: 6em;
}

#sec-1 h2 {
	font-size: 5em;
}

#sec-1 img {
	position: relative;
	width: 55px;
	top: 320px;
}

#sec-1 div {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#sec-2 {
	display: flex;
	flex: 1 1;
	justify-content: center;
	margin-top: 100px;
}

#sep-line {
	width: 400px;
	border: 2px solid #FFFFFF;
	margin-bottom: 40px;
}

#sep-line-2 {
	position: relative;
	left: 55%;
	border: 2px solid #B3CED1;
	background: #B3CED1;
	padding: 15px;
	margin: 15px;
}

.penguins {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#sec-2 h2 {
	/* Polar Alliance */
	font-family: 'Belleza', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 30px;
}

#sec-2 p {
	font-size: 1.5em;
	text-align: justify;
}

#sec-2-cont {
	width: 30%;
}

#sec-3 h3 {
	font-family: 'Belleza', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 3em;
	line-height: 30px;
	text-align: right;
	padding-right: 5%;
}

#sep-line-3 {
	align-content: end;
	padding-right: 10%;
	width: 400px;
	border: 2px solid #FFFFFF;
	margin-bottom: 40px;
	position: relative;
	left: 20%;
}

#sec-4 {
	display: flex;
	flex: 1 1;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

#sec-4-cont div {
	padding-top: 35%;
}

#sec-4 h5 {
	font-size: 2em;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color: #B3CED1;
}

#sec-4 p {
	font-size: 1.2em;
}

.whale {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 10%;
}

#sec-4-but {
	width: 200px;
	height: 50px;
	padding-inline: 15px;
	background: #FBC304;
	position: relative;
	left: 80%;
	font-size: 1em;
}

#sec-5 {
	background: linear-gradient(to bottom, transparent, #000000 99%), url("../images/9.jpg") center no-repeat;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

#sec-5 div {
	display: grid;
	place-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input {
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	background: none;
}

.form input,
textarea,
select,
button {
	width: 500px;
	padding: 15px;
	margin: 0;
	box-sizing: border-box;
	font-size: 2em;
}

.form button {
	padding-inline: 15px;
	background: #FBC304;
}

#sec-5 h3 {
	color: #FBC304;
	font-family: 'Belleza', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 3em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 0px;
}

#sec-5 p {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 1.5em;
}

#sec-6 {
	width: 100vw;
	height: 50vh;
	display: grid;
	place-items: center;
}

#sec-7 {
	display: flex;
	flex: 1 1;
}

#logo-bottom {
	display: block;
	width: 400px;
	height: auto;
}

#contact {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 260px;
}

h6 {
	font-size: 1.5em;
	color: #FBC304;
	line-height: 0px;
}

#rights p {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}